[access]
	inheritFrom = terraform-core
[submit]
	action = inherit
[access "refs/heads/*"]
	addPatchSet = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	create = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	label-Verified = -1..+1 group user/Anton Tarianyk (anton_tarianyk@epam.com)
	push = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	pushMerge = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	submit = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
[access "refs/tags/*"]
	create = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	push = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	pushMerge = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	submit = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	addPatchSet = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
[access "refs/for/*"]
	addPatchSet = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	create = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	push = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	pushMerge = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
	submit = deny group user/Anton Tarianyk (anton_tarianyk@epam.com)
